

h3{
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 230%;
}

h1{
    color: rgb(255, 254, 254);
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: rgb(216, 68, 216);
}
h4{
    color: ghostwhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: 230%;
}
h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 130%;
    color: rgb(255, 255, 255);

   
}
h6{
    color: yellow;
}